<ul class="navbar__links blog">
  <li><%= link_to 'Home', '/' , :class=>"home-link"%></li>
  <li><%= link_to 'portfolio', '/#portfolio' , :class=>"portfolio-link"%></li>
  <li><%= link_to 'About', '/about.html' , :class=>"about-link"%></li>
 <!--  <li><%= link_to 'Blog', '/blog/' , :class=>"blog-link"%></li> -->
  <li><%= link_to 'Contact', '/contact/', :class=>"contact-link"%></li>
</ul>