---
title: Home 
page_class: 'home'
headercolor: 102C5A
---


		
		<section id="header" <% if current_page.data.headercolor %>
        style="background-color:#<%= current_page.data.headercolor %>;"
    <% end %>>
			<div class="color-block green"></div>
			<div class="color-block blue"></div>
			<div class="title__box">
				<div class="logo-wrapper">
					<%= partial "/layouts/partials/logo" %>
					<div class="fallback"></div>
				</div>
		
				<h3 class="sub-head">Front-end<br>Developer &amp;<br>Web Designer</h3>
			</div>
		</section>

		<section class="home__about row">
			<article class="home__about-img js-height">
				<%= image_tag 'jeffrey-square.jpg',:alt=>'Jeffrey Smith' %> 
			</article>
			<article class="home__about-text js-height">
				<div class="text-inner">
					<h3>I build websites.<br><%= link_to 'See what I do', '/#portfolio' %>, <%= link_to 'learn about me', '/about/' %>, <%= link_to 'what platforms and tools I use', '/about/#tools' %>, <!--<%= link_to 'read my articles', '/blog/' %>, --> and of course &hellip; <%= link_to 'get in touch', '/contact/' %>.</h3>
				</div>
			</article>
		</section>

<%= partial "/portfolio/partials/eclipse-port" %>
<%= partial "/portfolio/partials/aura-port" %>
<%= partial "/portfolio/partials/menswear-port" %>	
<%= partial "/portfolio/partials/coco-port" %>
<%= partial "/portfolio/partials/pastels-port" %>		